    
    <fieldset class='fields'>
      <div class='controls'>
        <h2> Ingredient </h2>

      </div>
      <div class='control-group'>
        <%= f.label :ingredient, :class => 'control-label'%>

        <div class="controls">
          <%= f.text_field :name, :class => 'text_field' %>
        </div>
      </div>

      <div class='control-group'>
        <%= f.label :quantity, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :amount, :class => 'text_field'%>
        </div>
      </div>
    
      <div class="form-actions">
        <div class="btn">
         <%= link_to_remove_fields( "remove ingredient", f )%>
       </div> 
      </div>
  </fieldset>

