<%content_for :header do %>
  <li ><p class="navbar-text">Aready have an account? : <%= link_to "Log in", login_path %></p></li>
<% end %>

<div class="form_container">
<h1>Sign up!</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
</div>


