/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-image:url('natural_paper.png');
	background-repeat: repeat;
	opacity:1.0;
	xbackground-color:#f00;

}

fieldset {
    border: 3px dashed #ccc;
    border-radius: 10px;
}

.form_container {
    margin:35px;
    padding:15px;
    max-width:250px;
	margin-right:auto;
	margin-left:auto;
	border: 3px dashed #ccc;
	border-radius: 10px;
}

.form_container h1 {
	margin-top: 0;
	text-align:center;
}

.form_container input {
	width: 230px;
}

/*html, p, ol, ul, td  {
	font-family: garamond, serif;
	font-size: 16px;
    line-height: 24px; }
}

h1 {
	font-size:32px;
}
*/




