// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipes_container {
	max-width:700px;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	padding:20px;
	border: 1px dashed;
	border-radius: 10px;
	background:#fff;
}