<% content_for :header do %>
  <li ><p class="navbar-text">New here? : <%= link_to "Sign up", signup_path %></p></li>
<% end %>


<div class="form_container">
<h1>login</h1>
<%= form_tag login_path do %>
  
  <%= notice %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "log in", :class =>  'btn btn-info'%>
  </div>

<% end %>
</div>


