<h1>Listing recipe_ingredient_quantities</h1>

<table>
  <tr>
    <th>Recipe ingredient</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_ingredient_quantities.each do |recipe_ingredient_quantity| %>
  <tr>
    <td><%= recipe_ingredient_quantity.recipe_ingredient_id %></td>
    <td><%= recipe_ingredient_quantity.quantity_id %></td>
    <td><%= link_to 'Show', recipe_ingredient_quantity %></td>
    <td><%= link_to 'Edit', edit_recipe_ingredient_quantity_path(recipe_ingredient_quantity) %></td>
    <td><%= link_to 'Destroy', recipe_ingredient_quantity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe ingredient quantity', new_recipe_ingredient_quantity_path %>
