<!DOCTYPE html>
<html>
<head>
  <title>Recipeapp</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
     
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </a>
     
    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="brand" href="#">Reci-Please</a>
     
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="nav-collapse">
      <ul class="nav pull-right" >
        <% if logged_in? %>
          <li ><p class="navbar-text">You are signed in as <%= current_user[:email] %> : <%= link_to "Logout", logout_path %></p></li>
        <% else %>
          <%= yield :header %>
        <% end %>
      </ul>
    <!-- .nav, .navbar-search, .navbar-form, etc -->
    </div>
     
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>





